//header 
$cl-button: rgb(84, 203, 233);
$cl-light-gray: #dad6d6;
$cl-gray: gray;
$cl-light-blue: rgb(105, 155, 202);
$cl-header-bg: rgb(26, 25, 25);
$cl-white: #fff;
$cl-black: #000;
$cl-contact-nav: rgb(15, 15, 15);